<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <style>
            body {
                background-color: rgb(212, 210, 210);
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <p>These are the awesome details about my page.</p>

        <br />
        <h2>Data Source</h2>
        <p>Data was sourced from  <a href="https://data.world/data-society/global-terrorism-data" target="_blank">DataWorld </a></p>

        <br />
        <h2>Data Cleaning</h2>
        <p>When reading the whole data with Pandas, we got the below error </p>
            <i><b>utf-8 codec can't decode byte 0xa8 in position 7344: invalid start byte.</b></i>
        <p>We fixed the error by running the command </p>

        <i><b>encoding_errors='ignore'</b></i>
        
        <br  />
        <br />
        <h2>Feature Types</h2>
        <ul>
            <li>iyear - Numeric Variable</li>
            <li>country - Categorical Variable</li>
            <li>country_txt - Categorical Variable</li>
            <li>dbsource- Text Variable</li>
            <li>int_log - Categorical Variable</li>
            
        </ul>   
    </body>
</html>